.header {
    background-color: rgb(139, 137, 137);
    box-shadow: 0 2px 8px black;
    margin-top: 15px;
    width: 1528px;
    height: 110px;
    border-radius: 10px;
    position: fixed;
    z-index: 4;
}

.introimg {
    width: 200px;
    height: 55px;
    margin-top: 35px;
    margin-left: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uldiv {
    margin-left: 100px;
    margin-top: 20px;
}

li {
    padding: 25px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

.headerparent {
    display: flex;
    padding-top: 0px;
    position: fixed;
}

.login {
    background-color: rgb(101, 100, 100);
    border: none;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
}

.login:hover {
    background-color: black;
    color: white;
}

/* ===========================header============================ */

.headform {
    padding-top: 150px;
    margin-left: 200px;
}

pre {
    font-weight: 5000;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logindiv {
    display: flex;
}

.map {
    margin-left: 230px;
}

/* =======================footer================== */

.footer {
    padding: 25px;
    background-color: rgb(139, 137, 137);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer a:hover {
    color: black;
}

.footerdiv {
    display: flex;
    margin-left: 90px;
}

.icon {
    border: 1px solid rgb(255, 255, 255);
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 25px;
}

.last {
    color: white;
    height: 30px;
    background-color: rgb(74, 74, 74);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* =====================footer=============== */